.innerShow{width: 784px;height: 439px;background: url('../sco/img/homebg.png');background-size: 100% 100%;left: 168px;top: 79px;position: absolute;}
.home_btn{left: 60px;}
.home_btn1{top: 90px;}
.home_btn2{top: 210px;}
.home_btn_border{left: -4px;top: -3px;position: absolute;display: none;}
.home_yes{position: absolute;left: 9px;display: none;top: -7px;}

